.top {
	background-color: rgb(1, 132, 141);
	height: 100px;
	text-align: center;
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

form {
	grid-column: 2 / 6;
}

section p {
	grid-column: 2 / 5;
}
