.top {
	background-color: rgb(1, 132, 141);
	border: 3px solid black;
	height: 100px;
	text-align: center;
}

header section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

form {
	grid-column: 2 / 6;
}

main {
	grid-column: 2 / 5;
}

aside {
	margin-left: 15px;
	height: 50%;
	overflow: auto;
}

aside p {
	text-indent: 20%;
}

#today {
	grid-column: 2/3;
}

.display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.placeholder {
	border: 2px solid rgb(103, 194, 103);
	background-color: rgb(233, 232, 232);
	grid-column: 1 / 4;
	padding: 30px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
}

div {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-left: 10px;
	margin-top: 10px;
}

#today {
	grid-column: 1/2;
}

div section {
	display: inline-block;
	text-align: center;
}

.hidden {
	display: none;
}

.block {
	display: block;
}
